.footer {
  margin-top: 300px;
  text-align: center;
  clear:both
}
.Navigation {
  height: 75px;
  text-align: center;
  width: 100%;
  padding: 18px 0 0;
  position: relative;
  z-index: 999;
}
nav li:hover{
  text-decoration: underline;
}
nav li {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: calc(1px + 2vmin);
  height: 1.8em;
}
li {
    display: list-item;
    margin-left : 2.5%;
    margin-right : 2.5%;
}
a {
  color:white;
  text-decoration: unset;
}
.legals {
  display: inline-block;
  margin-right : 10px;
  margin-left : 10px;
  position: relative;
}
hr {
  width: 95%;
  padding: 0;
  margin: 0;
  margin-left: 2.5%;
}
#Nav {
  position: sticky;
  display: inline-block;
  vertical-align: middle;
  z-index: 98;
}
#ReservHidd {
  display: none;
  height: 330px;
  font-family: arial bold;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}
#Err {
  display: none;
  height: 330px;
  font-family: arial bold;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}
h1 {
font-family: bronova;
color: white;
}

h3 {
font-family: bronova;
}
#logo {
  width: 16%;
  height: auto;
  position:absolute;
  top: -85px;
  left: 30px;
}
#sous-lien a{
  width: 100%;
  text-decoration: underline;
}